.App {
  text-align: center;
  background-color: #4e1000;
  /* background-image: linear-gradient(to bottom right, black , red); */
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

/* Header and Navigation styles */
.App-header {
  background-image: linear-gradient(to bottom right, red, yellow);
  min-height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  font-size: calc(12px + 2vmin);
  color: white;
}

.header {
  font-family: papyrus, Lucida Handwriting;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header h1 {
  font-weight: bold;
  font-size: calc(15px + 5vmin);
  margin-top: 15px;
}

.header img{
  margin-left: 20px;
  margin-right: 20px;
}

.nav{
  display: flex;
  flex-direction: row;
}

.nav li {
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
}

.nav li a {
  text-decoration: none;
  color: #8F0000;
}

.nav li a:hover {
  color: white;
}

.loginBtn{
  font-size: calc(10px + 2vmin);
}

/* Create Group Styles */
.createGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.createGroup input,
.createGroup select{
  font-size: larger;
  margin-bottom: 30px;
}

.createGroup button{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 200px;
  height: 60px;
  width: 180px;
}

.createGroup img{
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
