@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.body {
  background-color: #8F0000;
}

.groupCard img {
  max-width: 55vw;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.noGroups {
  font-family: papyrus, Lucida Handwriting;
  border-radius: 20px;
  margin: 50px;
  padding: 25px;
  background-image: linear-gradient(to bottom right, yellow, red);
  border: 5px currentColor;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.groupCard h3 {
  font-family: papyrus, Lucida Handwriting;
  font-size: calc(15px + 3vmin);
  color: white;
  font-weight: bold;
}

.groups {
  font-family: Montserrat, sans-serif;
  background-image: linear-gradient(to bottom right, cyan, indigo);
  margin: 50px;
  border: 5px currentColor;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 20px;
}

.groups h4 {
  font-size: calc(10px + 2vmin);
  padding-bottom: 10px;
}

#deleteButton {
  margin-top: 10px;
  text-decoration: underline;
  color: rgb(201, 198, 198);
}

#deleteButton:hover {
  color: red;
}