.home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* profile card */
.homeProfile{
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    float: left;
    background-image: linear-gradient(to bottom right, yellow, red);
    border: 5px currentColor;
    border-radius: 20px;
    max-height: 70vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* main page except for profile side bar */
.homeBody{
    margin: 50px;
    float: right;
    display: flex;
    flex-direction: column;
}

/* Active groups div */
.homeGroups{
  border-radius: 20px;
  padding: 25px;
  background-image: linear-gradient(to bottom right, yellow, red);
  border: 5px currentColor;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Events div */
.homeEvents{
    font-family: papyrus, Lucida Handwriting;
    color: azure;
    padding: 25px;
    margin: 50px;
    background-image: linear-gradient(to bottom right, yellow, red);
    border: 5px currentColor;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
}